services:
    portfolio:
        image: nginx:alpine
        container_name: portfolio-site
        restart: unless-stopped
        volumes:
            - ./main-site:/usr/share/nginx/html # Put your future website files in an 'html' folder

    tunnel:
        image: cloudflare/cloudflared:latest
        container_name: cloudflare-tunnel
        restart: unless-stopped
        command: tunnel run --token eyJhIjoiNTQxOGYyN2E2ZjhhZDk1MGM5Y2JjZjNkODk4MDBhZmEiLCJ0IjoiODFhMzIxOGEtYTEyNS00ZmU0LTg1MDItMzcyOTMyY2M2MWY2IiwicyI6IlltVmpOR00zT0dVdFltRTVOeTAwTWpRNUxXRmtZbVF0WVRobVpEQmhNMkpsTldWaiJ9
        environment:
            - TUNNEL_TOKEN=eyJhIjoiNTQxOGYyN2E2ZjhhZDk1MGM5Y2JjZjNkODk4MDBhZmEiLCJ0IjoiODFhMzIxOGEtYTEyNS00ZmU0LTg1MDItMzcyOTMyY2M2MWY2IiwicyI6IlltVmpOR00zT0dVdFltRTVOeTAwTWpRNUxXRmtZbVF0WVRobVpEQmhNMkpsTldWaiJ9
