# Portfolio
CLOUDFLARE_TOKEN=

# CCTV Threat Detection Variables
USE_GPU=false
API_URL=http://localhost:8000/predict
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Healthcare Triage Assistant
OPENROUTER_API_KEY=
BACKEND_URL=http://backend:8000/predict

# Intelligent Research Assistant
TAVILY_API_KEY=
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
